.service-header {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

.card-text {
  text-align: center;
  color: var(--tg-theme-text-color);
}

.card-desc {
  text-align: center;
  color: var(--tg-theme-hint-color);
}

.card-btn {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}
