<h1 class="service-header mb-3">
  Our Services
</h1>
<div class="grid grid-cols-2 gap-2 mb-2">
  <div class="border-2 rounded p-2">
    <div class="image">
      <img class="object-center" src="./assets/images/card-image.png" alt="card">
    </div>
    <div>
      <p class="card-text">2x2</p>
      <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, temporibus.</p>
      <button class="card-btn w-full mt-2">Qo'shish: 3 000</button>
    </div>
  </div>

  <div class="border-2 rounded p-2">
    <div class="image">
      <img class="object-center" src="./assets/images/card-image.png" alt="card">
    </div>
    <div>
      <p class="card-text">5x5</p>
      <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, temporibus.</p>
      <button class="card-btn w-full mt-2">Qo'shish: 5 500</button>
    </div>
  </div>

  <div class="border-2 rounded p-2">
    <div class="image">
      <img class="object-center" src="./assets/images/card-image.png" alt="card">
    </div>
    <div>
      <p class="card-text">7x2</p>
      <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, temporibus.</p>
      <button class="card-btn w-full mt-2">Qo'shish: 4 000</button>
    </div>
  </div>

  <div class="border-2 rounded p-2">
    <div class="image">
      <img class="object-center" src="./assets/images/card-image.png" alt="card">
    </div>
    <div>
      <p class="card-text">10x2</p>
      <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, temporibus.</p>
      <button class="card-btn w-full mt-2">Qo'shish: 10 000</button>
    </div>
  </div>
</div>
